body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#test-wrapper {
  width: calc(100vw - 50px);
  height: calc(100vh - 50px);
  background-color: #ccc;
  margin: 25px auto;
}

.blueprint {
  position: relative;
  overflow: hidden;

  &__btn {
    width: 32px;
    height: 32px;
    display: block;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 3px;
    cursor: pointer;
    
    &-wrapper {
      position: absolute;
      z-index: 9;
    }
  }
}